* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  background-color: #f4f4f4;
  margin: 0 20rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  border: 2px solid #000;
}
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
nav,
main {
  width: 100%;
  border: 5px solid orange;
  margin-inline: auto;
  padding: 1rem 4rem;
}
.navbar {
  background-color: #7e7c7c;
  overflow: hidden;
  width: auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  border: 2px solid red;
}

/* Style the navbar links */
.navbar a {
  display: block;
  color: black;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin-inline: auto;
  padding: 0;
  overflow: hidden;
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 10px;
}

nav li {
  background-color: #a09c9c;
  border-right: 2px solid #524f4f;
  border-radius: 10px;
  width: 8rem;
  min-width: fit-content;

  /* border: 3px solid blue; */
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
  color: aliceblue;
  border-radius: 10px;
}

nav .active {
  background-color: #04aa6d;
}
